@charset "UTF-8"

body {
    background-color:  rgba(255, 200, 255, 0.733);
}

h1 { 
    color: rgba(252, 251, 252, 0.918);
}

h1#principal {
    background-color:rgba(126, 0, 105, 0.918) ;
    text-align: center;
}

h2 {
    color: rgba(224, 8, 188, 0.918);
}

.basico {
    color: rgba(248, 169, 235, 0.918);
}

.intermediario {
    color: rgba(243, 113, 221, 0.918);
}

.avançado {
    color: rgba(243, 25, 207, 0.918);
}

.destaque {
    color: black;
    background-color:  rgba(240, 240, 149, 0.733);
}